[Unit]
Description=CRC
Requires=libvirtd.service
After=libvirtd.service
TimeoutSec=0
[Service]
Restart=no
ExecStart=/usr/sbin/runuser -l crcuser -c '/home/crcuser/crc/crc start --nameserver 8.8.8.8 --log-level debug'

[Install]
WantedBy=multi-user.target