[Unit]
Description=CRC
Requires=libvirtd.service
After=libvirtd.service
TimeoutSec=0
[Service]
Restart=no
ExecStart=/usr/sbin/runuser -l crcuser -c '[ ! -f "/tmp/libvirt_reloaded" ] && (touch /tmp/libvirt_reloaded && sudo systemctl restart libvirtd) || (rm -f -- /tmp/libvirt_reloaded && /home/crcuser/crc/crc start --nameserver 8.8.8.8)'

[Install]
WantedBy=multi-user.target