[Unit]
Description=DDNS

[Service]
Restart=always
ExecStart=/usr/bin/podman run --rm -v "/etc/ansible-provision/inadyn.conf:/etc/inadyn.conf" docker.io/troglobit/inadyn:latest

[Install]
WantedBy=multi-user.target